<center>
  <div class="col-lg-5 col-centered">
    <div class="well bs-component">
      <form action="/user/login" method="post" role="form">
        <legend>Log in</legend>
          <fieldset>
          <div class="form-group">
            <% @errors.each { |error| %>
              <p><%= error %><p>
            <% } %>
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username"/>
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password"/>

          </div>

          <div class="form-group">
              <input type="submit" class="btn btn-sm btn-primary" />
          </div>

          <a href="/register" class="btn btn-default">Register</a>
        </fieldset>
      </form>
    </div>
  </div>
</center>
